<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h3 class="error">There is no such page!</h3>
    <%- include('./partials/footer.ejs') %>
</body>
</html>