<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nesciunt nihil officia consectetur quos, reprehenderit cumque, non repellendus molestias eligendi consequatur. Amet nam omnis repellat quas et facilis aliquam. Nisi!
        Illo libero ab error veritatis fugiat. Velit quia atque architecto labore ut. Tempore vel vitae possimus et harum doloremque explicabo magni repellat soluta quaerat facilis, minima sit repellendus, impedit id!
        Modi quam quos a saepe facere eveniet vel omnis ipsa libero minus, praesentium at provident, harum voluptatibus magni adipisci nobis quasi. Perferendis, perspiciatis assumenda ullam in eum esse velit necessitatibus.
        Commodi quos molestiae, voluptas ducimus eum tempore asperiores animi maxime quam aliquid architecto. Illo nostrum tempore inventore accusantium ex quos neque doloremque? Neque adipisci qui porro soluta non rem quos?
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>